@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(167, 195, 167);
    color: black;
}
.Title{
 
    text-align: center;
} 
.Author{

    text-align: center;
}
.booklist{

    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}
@media screen and (min-width: 786px) {
    .booklist{
        grid-template-columns: repeat(4,1fr);
    }    
    

}
.book img {
    width: 100%;
    object-fit: cover;
    
}
.book{
    padding: 20px;
    background-color: rgb(148, 180, 180);
}